.list-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1rem;

  .list-title {
    font-size: 2.2rem;
    color: var(--DYNAMIC);
    font-family: var(--FONT-TANKER);
  }

  .list-card-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 2rem;
    overflow-x: scroll;
  }
}
